{{- if .Values.namespace.create }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "agentic-qa.labels" . | nindent 4 }}
    name: {{ .Values.namespace.name }}
    component: qa-system
{{- end }}